<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>github contributions</title>
    <!-- Place favicon.ico and apple-touchicon" src="http://placekitten.com/16/16".png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- octicons from github -->
        <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/apitoken.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

  </head>
  <body>

    <div class="container">
        <header>
          <div id = "headericon" src="http://placekitten.com/16/16"s">
            <!-- <img id ="github-logo" src="#"> -->
            <span class="mega-octicon octicon-mark-github" style="min-width: 32px;"></span>
            <!-- <img id = "placeholdericon" src="http://placekitten.com/16/16"" src="#"> -->
            <span class="octicon octicon-primitive-dot"></span>
          </div>
          <input id = "search-bar" placeholder="Search or type a command"></input>
          <nav id = "header-menu">
              <ul>
                  <li>Explore</li>
                  <li>Features</li>
                  <li>Enterprise</li>
                  <li>Blog</li>
                  <li class="button">Sign up</li>
                  <li class="button">Sign in</li>
              </ul>
          </nav>
        </header>

        <section id = "user-info">
        <script type="text/template" class="user-template">
        <img id = 'user-profile-pic' src = <%- avatar_url%>>
           <h1 id = "user-name"><%- name %></h1>
	         <h2 id = "user-login"><%- login %></h2>
	         <nav id = "user-basic-info">
               <ul>
                   <li><span class="octicon octicon-location"></span><%- location %></li>
                   <li><span class="octicon octicon-mail"></span><%- email %></li>
                   <li><span class="octicon octicon-link"></span><%- blog %></li>
                   <li><span class="octicon octicon-clock"></span>Joined on <time><%- moment.parseZone(created_at) %></time></li>
                  <!-- converted zulu time to JSUnix time, still looking for way to call function from template to convert JSUnix time to desired format -->
                </ul>
            </nav>
            <section id = "user-social-stats">
               <div class="stat-block">
                   <h1 class="stat"><%- followers %></h1>
                   <h5 class="stat-label">Followers</div>
               <div class="stat-block">
                   <h1 class="stat"><%- starredCount %> </h1>
                   <h5 class="stat-label">Starred</div>
               <div class="stat-block">
                   <h1 class="stat"><%- following %></h1>
                   <h5 class="stat-label">Following</div>
            </nav>
            <section id = "organizations">
                <h3>Organizations</h3>
                <a href='#'><img src= "<%- organizations_url %>"></a> <% // Need to figure out the right API to pull from...organizations is return null %>
            </section>
        </script>
      </section>

        <section id = "main">
            <nav id = "activity-tab-headers">
                <ul>
                    <li><img class="giticon" src="http://placekitten.com/16/16"" src="#" id="contribicon" src="http://placekitten.com/16/16"">Contributions</li>
                    <li><img class="giticon" src="http://placekitten.com/16/16"" src="#" id="repoicon" src="http://placekitten.com/16/16"">Repositories</li>
                    <li><img class="giticon" src="http://placekitten.com/16/16"" src="#" id="public-acticon" src="http://placekitten.com/16/16"">Public Activity</li>
                </ul>
            </nav>
            <section id = "contributions">
		            <section id = "popular-repos">
                  <header class = "main-subhead">Popular Repositories</header>
                  <script type="text/template" class="repo-template">
                      <div class = "repo">
                        <div class = "repo-titles">
	                       <a href="#"><p class="repo-title"> <img class="giticon" src="http://placekitten.com/16/16"><%- name %></p></a>
                         <h4 class="repo-desc"> <%- description %></h4>
                        </div>
                        <div class = "repo-favs">
                         <span class="repo-stars"> <%- stargazers_count %> <span class="octicon octicon-star">
                        </div>
	                    </div>
                  </script>
                  </section>

                </section>








		            <!-- <section id = "contrib-stats">
	                 <header class = "main-subhead">Contributions</header>
                   <img class = "giticon" src="http://placekitten.com/16/16"" id = "privacyicon" src="http://placekitten.com/16/16"" src="#">
                   <figure id = "contrib-chart">
                   </figure>
                   <section id = "contrib-summary">
                       <section class = "contrib-summary-item">
                             <p class = "summary-label">Year of contributions</p>
                             <p class = "summary-value"><script type="text/template" id="commit-count"><%- commitCount %></script></p>
                           <p class = "summary-time-span">yearago - today</p>
                        </section>
                       <section class = "contrib-summary-item">
                           <p class = "summary-label">Longest streak</p>
                           <p class = "summary-value">-1 days</p>
                           <p class = "summary-time-span">when - when</p>
                       </section>
                       <section class = "contrib-summary-item">
                           <p class = "summary-label">Current streak</p>
                           <p class = "summary-value">-1 days</p>
                           <p class = "summary-time-span">when - when</p>
                       </section>
                   </section>
                   <section id = "contrib-period">
                  <!--  For now, doing all-time commits without looking at timestamps, assuming commits are push events -->
                       <!-- <p>Contribution activity</p>
                       <select><option value="All-time">All-time</option></select>
                       <div id="commit-count">
                          <img src="#" id="commiticon" src="http://placekitten.com/16/16"">
                          <p><span id ="commit-total"><script type="text/template" id="commit-count"><%- commitCount %><span id="commit-txt"> commits</span></p>
                       </div>
                  </section>
              </section>
              <section id="commits-by-repo">
                       <script type="text/template" class="repo-commit-template">
                       <p><span id = "push-statement">Pushed <%- repoCommitCount %> commits to <%- repoName %></span><time id = "commit-date"></time></p>
                       </script>
             </section>

              </section>

</section>

      </section> -->
    </div>

    </body>
</html>
